.big-image-handler {
    display: inline-block;
    cursor: pointer;
    position: relative;
}
.big-image-info {
    #gradient > .vertical(@brand-color-lighter, @brand-color-light);
    box-shadow: 0px 1px #444;
    color: #fff !important;
    font-size: 0.9em;
    left: 0;
    padding: 10px 0;
    position: absolute;
    text-align: center;
    text-shadow: 0px 1px 1px #444;
    top: 0;
    width: 100%;
}

.big-image-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 99999;
    color: white;

    img {
        box-shadow: 0 0 50px #888;
        max-width: 100%;
        max-height: 100%;

        // Vertically align: http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
        position: absolute;
        left: 50%;
        top: 50%;
        .translate(-50%, -50%);
    }
}
.big-image-close {
    .retina-background-icon('black/decline.png');
    cursor: pointer;
    position: absolute;
    height: 16px;
    width: 16px;
}