.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.hover_box .hover_symbols {
  display: none;
}
.hover_box:hover .hover_symbols {
  display: inline;
  padding-left: 5px;
}
.big-image-handler {
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.big-image-info {
  background-color: #6880a8;
  background-image: -moz-linear-gradient(top,#899ab9,#36598f);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#899ab9),to(#36598f));
  background-image: -webkit-linear-gradient(top,#899ab9,#36598f);
  background-image: -o-linear-gradient(top,#899ab9,#36598f);
  background-image: linear-gradient(to bottom,#899ab9,#36598f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff899ab9', endColorstr='#ff36598f', GradientType=0);
  box-shadow: 0px 1px #444;
  color: #fff !important;
  font-size: 0.9em;
  left: 0;
  padding: 10px 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 1px 1px #444;
  top: 0;
  width: 100%;
}
.big-image-overlay {
  position: fixed;
  background-color: rgba(0,0,0,0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 99999;
  color: white;
  padding: 10px;
}
.big-image-overlay img {
  box-shadow: 0 0 50px #888;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  transform: translate(0,-50%);
}
.big-image-close {
  background-image: url("http://127.0.0.1/~tleilax/studip/trunk/assets/images//icons/16/black/decline.png");
  background-image: -webkit-image-set(url("http://127.0.0.1/~tleilax/studip/trunk/assets/images//icons/16/black/decline.png") 1x,url("http://127.0.0.1/~tleilax/studip/trunk/assets/images//icons/32/black/decline.png") 2x);
  cursor: pointer;
  position: absolute;
  height: 16px;
  width: 16px;
}
